In [1]:
import pandas as pd
import textwrap

In [2]:
homicide_df = pd.read_csv('homicide-data2.csv')
homicide_df.tail()

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition
52174,Was-001380,20160908,WILLIAMS,EVAN,Black,29,Male,Washington,DC,38.828704,-77.002075,Closed by arrest
52175,Was-001381,20160913,SMITH,DEON,Black,19,Male,Washington,DC,38.822852,-77.001725,Open/No arrest
52176,Was-001382,20161114,WASHINGTON,WILLIE,Black,23,Male,Washington,DC,38.828025,-77.002511,Open/No arrest
52177,Was-001383,20161130,BARNES,MARCUS,Black,24,Male,Washington,DC,38.820476,-77.008640,Open/No arrest
52178,Was-001384,20160901,JACKSON,KEVIN,Black,17,Male,Washington,DC,38.866689,-76.982409,Closed by arrest

In [3]:
homicide_df['reported_date'].value_counts()

20171001     71
20170705     38
20151202     34
20140831     34
20160808     33
             ..
20100224      2
20171208      2
20070906      1
201511105     1
201511018     1
Name: reported_date, Length: 4020, dtype: int64

In [4]:
date_list = []
for d in homicide_df['reported_date']:
    date_list.append((str(d)[0:4]))
    
homicide_df['year'] = date_list


year_df = homicide_df

year_df.head()

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition,year
0,Alb-000001,20100504,GARCIA,JUAN,Hispanic,78,Male,Albuquerque,NM,35.095788,-106.538555,Closed without arrest,2010
1,Alb-000002,20100216,MONTOYA,CAMERON,Hispanic,17,Male,Albuquerque,NM,35.056810,-106.715321,Closed by arrest,2010
2,Alb-000003,20100601,SATTERFIELD,VIVIANA,White,15,Female,Albuquerque,NM,35.086092,-106.695568,Closed without arrest,2010
3,Alb-000004,20100101,MENDIOLA,CARLOS,Hispanic,32,Male,Albuquerque,NM,35.078493,-106.556094,Closed by arrest,2010
4,Alb-000005,20100102,MULA,VIVIAN,White,72,Female,Albuquerque,NM,35.130357,-106.580986,Closed without arrest,2010

In [101]:
homicide_df['city'].value_counts()

Chicago           5535
Philadelphia      3037
Houston           2942
Baltimore         2827
Detroit           2519
Los Angeles       2257
St. Louis         1677
Dallas            1567
Memphis           1514
New Orleans       1434
Las Vegas         1381
Washington        1345
Indianapolis      1322
Kansas City       1190
Jacksonville      1168
Milwaukee         1115
Columbus          1084
Atlanta            973
Oakland            947
Phoenix            914
San Antonio        833
Birmingham         800
Nashville          767
Miami              744
Cincinnati         694
Charlotte          687
Oklahoma City      672
San Francisco      663
Pittsburgh         631
New York           627
Boston             614
Tulsa              584
Louisville         576
Fort Worth         549
Buffalo            521
Fresno             487
San Diego          461
Stockton           444
Richmond           429
Baton Rouge        424
Omaha              409
Albuquerque        378
Long Beach         378
Sacramento         376
Minneapolis        366
Denver             312
Durham             276
San Bernardino     275
Savannah           246
Tampa              208
Name: city, dtype: int64

In [5]:
alb = homicide_df.loc[homicide_df["city"] == "Albuquerque", :]
alb.tail()

,uid,reported_date,victim_last,victim_first,victim_race,victim_age,victim_sex,city,state,lat,lon,disposition,year
373,Alb-000374,20171127,RAVENEL,DEZMOND,Unknown,22,Unknown,Albuquerque,NM,35.057319,-106.578808,Closed by arrest,2017
374,Alb-000375,20171128,RAMIREZ,THOMAS,Unknown,Unknown,Unknown,Albuquerque,NM,35.123837,-106.645503,Open/No arrest,2017
375,Alb-000376,20171129,CHAVEZ,MARQUS,Unknown,Unknown,Unknown,Albuquerque,NM,35.083031,-106.558515,Open/No arrest,2017
376,Alb-000377,20171202,MALDONADO,BENJAMIN,Unknown,31,Unknown,Albuquerque,NM,35.107006,-106.513576,Closed by arrest,2017
377,Alb-000378,20171223,WILLIS,AUDRA,Unknown,39,Unknown,Albuquerque,NM,35.058604,-106.490054,Open/No arrest,2017

In [6]:
race_list = []
for u in alb['victim_race'].unique():
    race_list.append(u)
    
race_list

['Hispanic', 'White', 'Other', 'Black', 'Asian', 'Unknown']

In [8]:
city_list = []

for c in homicide_df['city'].unique():
    city_list.append(c)

In [20]:
#Main DF
final_list = []

final_df = pd.DataFrame()

for city in range(0, len(city_list)):
    
    #Locates the city data
    loc1 = homicide_df.loc[homicide_df["city"] == city_list[city], :]
    city_dict = {}
    city_size = int(loc1.size/12)
    unsolved_murder_count = 0
    for race in race_list:
        #Locates the race data for each race
        loc2 = loc1.loc[loc1["victim_race"] == race, :]
        total_murders = int(loc2.size/12)
        loc3 = loc2.loc[loc2["disposition"] == 'Closed by arrest']
        solved_murders = int(loc3.size/12)
        unsolved_murders = total_murders - solved_murders
        unsolved_murder_count = unsolved_murder_count + unsolved_murders
        if city_size > 0:
            city_dict[f'% {race}'] = total_murders/city_size
            if unsolved_murders > 0:
                city_dict[f'% Unsolved {race}'] = unsolved_murders/total_murders
            if solved_murders > 0:
                city_dict[f'% Solved {race}'] = solved_murders/total_murders
    df = pd.DataFrame(city_dict, columns = city_dict.keys(), index=[0]) 
    df['City'] = city_list[city]
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    df['Total Murders'] = city_size
    df['Unsolved Murders'] = unsolved_murder_count
    df['Unsolved Murder %'] = unsolved_murder_count/city_size
    final_df = pd.concat([final_df, df])
    final_list.append([city_list[city], city_dict])
        
        
       
final_df

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:35: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Black,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders
0,0.014670,0.088020,0.178484,0.107579,NaN,0.583333,0.630137,0.704545,0.510870,0.666667,...,0.416667,0.369863,0.295455,0.489130,0.333333,0.381418,Albuquerque,409,0.386308,158
0,0.003795,0.907970,0.019924,0.003795,0.750000,0.617555,0.428571,0.500000,NaN,0.651515,...,0.382445,0.571429,0.500000,NaN,0.348485,0.062619,Atlanta,1054,0.383302,404
0,0.003592,0.918354,0.019922,0.001960,0.636364,0.337482,0.475410,0.333333,NaN,0.570588,...,0.662518,0.524590,0.666667,NaN,0.429412,0.055519,Baltimore,3062,0.645330,1976
0,0.002179,0.884532,0.023965,0.004357,1.000000,0.522167,0.545455,1.000000,NaN,0.648649,...,0.477833,0.454545,NaN,NaN,0.351351,0.080610,Baton Rouge,459,0.461874,212
0,0.000000,0.882217,0.025404,0.005774,NaN,0.571990,0.454545,0.400000,0.666667,0.528571,...,0.428010,0.545455,0.600000,0.333333,0.471429,0.080831,Birmingham,866,0.434180,376
0,0.009023,0.708271,0.183459,0.003008,0.833333,0.416136,0.581967,0.500000,NaN,0.901639,...,0.583864,0.418033,0.500000,1.000000,0.098361,0.091729,Boston,665,0.503759,335
0,0.003546,0.813830,0.069149,0.003546,0.500000,0.346405,0.512821,0.500000,NaN,0.610169,...,0.653595,0.487179,0.500000,1.000000,0.389831,0.104610,Buffalo,564,0.613475,346
0,0.005376,0.706989,0.122312,0.009409,0.250000,0.712928,0.604396,0.571429,NaN,0.792453,...,0.287072,0.395604,0.428571,1.000000,0.207547,0.142473,Charlotte,744,0.299731,223
0,0.004503,0.768012,0.178619,0.001167,0.333333,0.253203,0.268908,0.428571,NaN,0.415162,...,0.746797,0.731092,0.571429,1.000000,0.584838,0.046197,Chicago,5996,0.735991,4413
0,0.001332,0.849534,0.006658,0.010652,NaN,0.523511,0.400000,0.375000,1.000000,0.773196,...,0.476489,0.600000,0.625000,NaN,0.226804,0.129161,Cincinnati,751,0.446072,335
0,0.000852,0.708688,0.034072,0.017036,1.000000,0.449519,0.400000,0.550000,NaN,0.526882,...,0.550481,0.600000,0.450000,1.000000,0.473118,0.237649,Columbus,1174,0.531516,624
0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.518562,NaN,...,NaN,NaN,NaN,0.481438,NaN,0.000000,Dallas,1697,0.481438,817
0,0.014793,0.360947,0.298817,0.014793,0.800000,0.401639,0.405941,0.600000,NaN,0.549020,...,0.598361,0.594059,0.400000,NaN,0.450980,0.301775,Denver,338,0.538462,182
0,0.003299,0.892595,0.017962,0.001833,0.333333,0.402464,0.428571,NaN,NaN,0.522124,...,0.597536,0.571429,1.000000,1.000000,0.477876,0.082845,Detroit,2728,0.587977,1604
0,0.000000,0.739130,0.160535,0.003344,NaN,0.651584,0.541667,1.000000,NaN,0.642857,...,0.348416,0.458333,NaN,NaN,0.357143,0.093645,Durham,299,0.364548,109
0,0.010101,0.452862,0.276094,0.013468,0.666667,0.561338,0.493902,0.375000,NaN,0.537931,...,0.438662,0.506098,0.625000,NaN,0.462069,0.244108,Fort Worth,594,0.462963,275
0,0.055028,0.299810,0.497154,0.011385,0.655172,0.613924,0.633588,0.500000,1.000000,0.797101,...,0.386076,0.366412,0.500000,NaN,0.202899,0.130930,Fresno,527,0.349146,184
0,0.030750,0.512080,0.323502,0.004079,0.612245,0.510417,0.445199,0.307692,NaN,0.515815,...,0.489583,0.554801,0.692308,NaN,0.484185,0.128961,Houston,3187,0.507374,1617
0,0.002793,0.687849,0.056564,0.003492,0.500000,0.511675,0.506173,0.800000,NaN,0.666667,...,0.488325,0.493827,0.200000,1.000000,0.333333,0.247207,Indianapolis,1432,0.449022,643
0,0.010277,0.680632,0.000000,0.000791,0.615385,0.455285,NaN,1.000000,0.388889,0.563342,...,0.544715,NaN,NaN,0.611111,0.436658,0.293281,Jacksonville,1265,0.511462,647
0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.591156,NaN,...,NaN,NaN,NaN,0.408844,NaN,0.000000,Kansas City,1289,0.408844,527
0,0.039439,0.326872,0.247326,0.004679,0.610169,0.601227,0.583784,0.285714,0.082192,0.644444,...,0.398773,0.416216,0.714286,0.917808,0.355556,0.330882,Las Vegas,1496,0.414439,620
0,0.122249,0.374083,0.354523,0.026895,0.540000,0.633987,0.510345,0.727273,NaN,0.680851,...,0.366013,0.489655,0.272727,NaN,0.319149,0.114914,Long Beach,409,0.410758,168
0,0.012679,0.392229,0.481800,0.025767,0.645161,0.479666,0.500849,0.682540,1.000000,0.615385,...,0.520334,0.499151,0.317460,NaN,0.384615,0.085072,Los Angeles,2445,0.489980,1198
0,0.006410,0.663462,0.032051,0.004808,0.750000,0.483092,0.350000,0.666667,NaN,0.705556,...,0.516908,0.650000,0.333333,NaN,0.294444,0.288462,Louisville,624,0.451923,282
0,0.003659,0.849390,0.051829,0.003049,0.666667,0.686289,0.564706,0.400000,1.000000,0.691781,...,0.313711,0.435294,0.600000,NaN,0.308219,0.089024,Memphis,1640,0.319512,524
0,0.000000,0.408189,0.043424,0.001241,NaN,0.306991,0.314286,NaN,0.476190,0.434483,...,0.693009,0.685714,1.000000,0.523810,0.565517,0.179901,Miami,806,0.606700,489
0,0.009114,0.794532,0.092792,0.004971,1.000000,0.616267,0.714286,0.666667,NaN,0.709402,...,0.383733,0.285714,0.333333,NaN,0.290598,0.096935,Milwaukee,1207,0.361226,436
0,0.007576,0.676768,0.022727,0.146465,0.333333,0.470149,0.444444,0.482759,NaN,0.600000,...,0.529851,0.555556,0.517241,1.000000,0.400000,0.138889,Minneapolis,396,0.510101,202
0,0.016867,0.636145,0.000000,0.008434,0.785714,0.625000,NaN,0.714286,NaN,0.652330,...,0.375000,NaN,0.285714,1.000000,0.347670,0.336145,Nashville,830,0.362651,301
0,0.005151,0.882164,0.031552,0.001932,0.625000,0.341606,0.428571,NaN,0.192308,0.473684,...,0.658394,0.571429,1.000000,0.807692,0.526316,0.061172,New Orleans,1553,0.648422,1007
0,0.048601,0.559647,0.288660,0.000000,0.696970,0.547368,0.673469,NaN,0.333333,0.757576,...,0.452632,0.326531,NaN,0.666667,0.242424,0.097202,New York,679,0.388807,264
0,0.017561,0.725854,0.155122,0.044878,0.722222,0.412634,0.490566,0.652174,NaN,0.807018,...,0.587366,0.509434,0.347826,NaN,0.192982,0.055610,Oakland,1025,0.536585,550
0,0.006868,0.457418,0.013736,0.192308,0.400000,0.507508,0.900000,0.407143,0.400000,0.580087,...,0.492492,0.100000,0.592857,0.600000,0.419913,0.317308,Oklahoma City,728,0.482143,351
0,0.004515,0.604966,0.081264,0.013544,0.500000,0.417910,0.805556,1.000000,0.500000,0.865079,...,0.582090,0.194444,NaN,0.500000,0.134921,0.284424,Omaha,443,0.410835,182
0,0.015805,0.776596,0.122796,0.000304,0.673077,0.540117,0.529703,NaN,NaN,0.671480,...,0.459883,0.470297,1.000000,NaN,0.328520,0.084195,Philadelphia,3290,0.448024,1474
0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.448485,NaN,...,NaN,NaN,NaN,0.551515,NaN,0.000000,Phoenix,990,0.551515,546
0,0.004392,0.865300,0.004392,0.002928,0.666667,0.423012,1.000000,NaN,NaN,0.746988,...,0.576988,NaN,1.000000,NaN,0.253012,0.121523,Pittsburgh,683,0.534407,365
0,0.008621,0.877155,0.032328,0.004310,0.750000,0.742015,0.400000,NaN,1.000000,0.852941,...,0.257985,0.600000,1.000000,NaN,0.147059,0.073276,Richmond,464,0.262931,122
0,0.000000,0.218404,0.505543,0.118625,NaN,0.573604,0.557018,0.542056,0.666667,0.623188,...,0.426396,0.442982,0.457944,0.333333,0.376812,0.152993,San Antonio,902,0.430155,388
0,0.127764,0.420147,0.216216,0.024570,0.538462,0.596491,0.693182,0.500000,NaN,0.690476,...,0.403509,0.306818,0.500000,NaN,0.309524,0.206388,Sacramento,407,0.371007,151
0,0.000000,0.763158,0.018797,0.003759,NaN,0.497537,0.800000,1.000000,0.555556,0.630435,...,0.502463,0.200000,NaN,0.444444,0.369565,0.172932,Savannah,266,0.466165,124
0,0.020202,0.441077,0.387205,0.033670,0.333333,0.358779,0.391304,0.300000,NaN,0.454545,...,0.641221,0.608696,0.700000,NaN,0.545455,0.111111,San Bernardino,297,0.616162,183
0,0.084168,0.320641,0.300601,0.022044,0.547619,0.568750,0.586667,0.545455,NaN,0.738806,...,0.431250,0.413333,0.454545,NaN,0.261194,0.268537,San Diego,499,0.380762,190
0,0.054318,0.520891,0.193593,0.054318,0.666667,0.417112,0.453237,0.487179,NaN,0.704000,...,0.582888,0.546763,0.512821,NaN,0.296000,0.174095,San Francisco,718,0.506964,364
0,0.003304,0.893722,0.012665,0.002203,0.666667,0.447320,0.478261,0.250000,NaN,0.582278,...,0.552680,0.521739,0.750000,NaN,0.417722,0.087004,St. Louis,1816,0.539648,980
0,0.070686,0.326403,0.461538,0.033264,0.323529,0.420382,0.355856,0.250000,1.000000,0.612245,...,0.579618,0.644144,0.750000,NaN,0.387755,0.101871,Stockton,481,0.598753,288
0,0.000000,0.657778,0.097778,0.000000,NaN,0.567568,0.409091,NaN,NaN,0.518519,...,0.432432,0.590909,NaN,NaN,0.481481,0.240000,Tampa,225,0.457778,103
0,0.004747,0.487342,0.071203,0.034810,0.666667,0.626623,0.577778,0.727273,1.000000,0.732000,...,0.373377,0.422222,0.272727,NaN,0.268000,0.395570,Tulsa,632,0.329114,208
0,0.010295,0.904598,0.048044,0.004804,0.533333,0.556904,0.571429,0.571429,NaN,0.688889,...,0.443096,0.428571,0.428571,NaN,0.311111,0.030885,Washington,1457,0.437886,638

In [21]:
final_df.tail()

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Black,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders
0,0.003304,0.893722,0.012665,0.002203,0.666667,0.447320,0.478261,0.250000,NaN,0.582278,...,0.552680,0.521739,0.750000,NaN,0.417722,0.087004,St. Louis,1816,0.539648,980
0,0.070686,0.326403,0.461538,0.033264,0.323529,0.420382,0.355856,0.250000,1.0,0.612245,...,0.579618,0.644144,0.750000,NaN,0.387755,0.101871,Stockton,481,0.598753,288
0,0.000000,0.657778,0.097778,0.000000,NaN,0.567568,0.409091,NaN,NaN,0.518519,...,0.432432,0.590909,NaN,NaN,0.481481,0.240000,Tampa,225,0.457778,103
0,0.004747,0.487342,0.071203,0.034810,0.666667,0.626623,0.577778,0.727273,1.0,0.732000,...,0.373377,0.422222,0.272727,NaN,0.268000,0.395570,Tulsa,632,0.329114,208
0,0.010295,0.904598,0.048044,0.004804,0.533333,0.556904,0.571429,0.571429,NaN,0.688889,...,0.443096,0.428571,0.428571,NaN,0.311111,0.030885,Washington,1457,0.437886,638

In [10]:
year_list = []
for year in year_df['year'].unique():
    year_list.append(year)
    
year_list

['2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2016',
 '2015',
 '2017',
 '2007',
 '2008',
 '2009']

In [80]:
# year_df.loc[homicide_df["year"] == '2010', :]

In [92]:
#Main DF
final_year_list = []

final_year_df = pd.DataFrame()

for i in range(0, len(year_list)):
    

    for city in range(0, len(city_list)):
    
        #Locates the city data
        loc1 = year_df.loc[year_df["city"] == city_list[city], :]
        city_dict = {}
        city_size = int(loc1.size/12)
        unsolved_murder_count = 0
        try: 
            locyear = loc1.loc[loc1['year'] == year_list[i]]
        except:
            locyear = loc1
        for race in race_list:
            #Locates the race data for each race
            loc2 = locyear.loc[locyear["victim_race"] == race, :]
            total_murders = int(loc2.size/12)
            loc3 = loc2.loc[loc2["disposition"] == 'Closed by arrest']
            solved_murders = int(loc3.size/12)
            unsolved_murders = total_murders - solved_murders
            unsolved_murder_count = unsolved_murder_count + unsolved_murders
            if city_size > 0:
                city_dict[f'% {race}'] = total_murders/city_size
                if unsolved_murders > 0:
                    city_dict[f'% Unsolved {race}'] = unsolved_murders/total_murders
                if solved_murders > 0:
                    city_dict[f'% Solved {race}'] = solved_murders/total_murders
        df = pd.DataFrame(city_dict, columns = city_dict.keys(), index=[0]) 
        df['City'] = city_list[city]
        cols = df.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        df = df[cols]
        df['Total Murders'] = city_size
        df['Unsolved Murders'] = unsolved_murder_count
        df['Unsolved Murder %'] = unsolved_murder_count/city_size
        final_year_df = pd.concat([final_year_df, df])
        final_year_list.append([city_list[city], city_dict])
        
        
       
final_df.head()

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:42: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,City,% Hispanic,% Unsolved Hispanic,% Solved Hispanic,% White,% Unsolved White,% Solved White,% Other,% Unsolved Other,% Solved Other,% Black,% Solved Black,% Asian,% Unsolved Asian,% Unknown,Total Murders,Unsolved Murders,Unsolved Murder %
0,Albuquerque,0.046455,0.263158,0.736842,0.041565,0.529412,0.470588,0.01467,0.166667,0.833333,0.00978,1.0,0.002445,1.0,0.0,409,16,0.03912

In [11]:
final_year_df = pd.DataFrame()

print(len(city_list))
print(len(year_list))
print(race_list)
for i in range(0, len(city_list)):
    for j in range(0, len(year_list)):
        loc1 = year_df.loc[year_df["city"] == city_list[i], :]
        loc2 = loc1.loc[loc1['year'] == year_list[j], :]
        city_year_dict = {}
        year_murder_count = 0
        year_solved_murder_count = 0
        year_unsolved_murder_count = 0
        city_year_size = loc2.size
        
        
        for race in race_list:
            loc3 = loc2.loc[loc2["victim_race"] == race, :]
            total_murders = int(loc3.size/12)
            year_murder_count += total_murders
            loc4 = loc3.loc[loc3['disposition'] == 'Closed by arrest', :]
            solved_murders = int(loc4.size/12)
            year_solved_murder_count += solved_murders
            unsolved_murders = total_murders - solved_murders
            year_unsolved_murder_count += unsolved_murders
            if city_year_size > 0:
                city_year_dict[f'% {race}'] = total_murders/(city_year_size/12)
                if unsolved_murders > 0:
                    city_year_dict[f'% Unsolved {race}'] = unsolved_murders/total_murders
                if solved_murders > 0:
                    city_year_dict[f'% Solved {race}'] = solved_murders/total_murders
                city_year_dict['City'] = city_list[i]
                city_year_dict['Year'] = year_list[j]
                city_year_dict['Total Murders'] = year_murder_count
                city_year_dict['Unsolved Murders'] = year_unsolved_murder_count
                if year_murder_count > 0:
                    city_year_dict['Unsolved Murder %'] = year_unsolved_murder_count/year_murder_count
                else:
                    city_year_dict['Unsolved Murder %'] = 0 
        df = pd.DataFrame(city_year_dict, columns = city_year_dict.keys(), index=[0])
        final_year_df = pd.concat([final_year_df, df])
                
            
final_year_df

50
11
['Hispanic', 'White', 'Other', 'Black', 'Asian', 'Unknown']

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:41: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders,Year
0,0.020513,0.082051,0.389744,0.123077,NaN,1.000000,0.736842,0.833333,NaN,0.470588,...,0.263158,0.166667,NaN,0.529412,0.348718,Albuquerque,47.0,0.340426,16.0,2010
0,0.000000,0.145749,0.388664,0.121457,NaN,0.500000,0.562500,1.000000,NaN,0.846154,...,0.437500,NaN,NaN,0.153846,0.315789,Albuquerque,40.0,0.300000,12.0,2011
0,0.000000,0.100334,0.381271,0.160535,NaN,0.400000,0.842105,0.750000,1.0,0.533333,...,0.157895,0.250000,NaN,0.466667,0.301003,Albuquerque,48.0,0.312500,15.0,2012
0,0.000000,0.111888,0.419580,0.083916,NaN,0.750000,0.333333,1.000000,NaN,0.461538,...,0.666667,NaN,NaN,0.538462,0.363636,Albuquerque,35.0,0.514286,18.0,2013
0,0.000000,0.263736,0.000000,0.197802,NaN,0.750000,NaN,0.666667,NaN,0.666667,...,NaN,0.333333,NaN,0.333333,0.494505,Albuquerque,29.0,0.310345,9.0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0.000000,0.900285,0.051282,0.000000,NaN,0.474684,0.333333,NaN,NaN,1.000000,...,0.666667,NaN,NaN,NaN,0.039886,Washington,174.0,0.511494,89.0,2015
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.010200,0.928177,0.045899,0.000000,0.5,0.571429,0.555556,NaN,NaN,1.000000,...,0.444444,NaN,NaN,NaN,0.010200,Washington,195.0,0.425641,83.0,2007
0,0.004963,0.883375,0.054591,0.009926,NaN,0.589888,0.727273,NaN,NaN,0.714286,...,0.272727,1.000000,NaN,0.285714,0.034739,Washington,199.0,0.407035,81.0,2008
0,0.000000,0.923077,0.064103,0.006410,NaN,0.562500,0.500000,1.000000,NaN,NaN,...,0.500000,NaN,NaN,NaN,0.000000,Washington,155.0,0.438710,68.0,2009

In [12]:
final_year_df.head(20)

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders,Year
0,0.020513,0.082051,0.389744,0.123077,NaN,1.000000,0.736842,0.833333,NaN,0.470588,...,0.263158,0.166667,NaN,0.529412,0.348718,Albuquerque,47.0,0.340426,16.0,2010
0,0.000000,0.145749,0.388664,0.121457,NaN,0.500000,0.562500,1.000000,NaN,0.846154,...,0.437500,NaN,NaN,0.153846,0.315789,Albuquerque,40.0,0.300000,12.0,2011
0,0.000000,0.100334,0.381271,0.160535,NaN,0.400000,0.842105,0.750000,1.00,0.533333,...,0.157895,0.250000,NaN,0.466667,0.301003,Albuquerque,48.0,0.312500,15.0,2012
0,0.000000,0.111888,0.419580,0.083916,NaN,0.750000,0.333333,1.000000,NaN,0.461538,...,0.666667,NaN,NaN,0.538462,0.363636,Albuquerque,35.0,0.514286,18.0,2013
0,0.000000,0.263736,0.000000,0.197802,NaN,0.750000,NaN,0.666667,NaN,0.666667,...,NaN,0.333333,NaN,0.333333,0.494505,Albuquerque,29.0,0.310345,9.0,2014
0,0.073260,0.029304,0.000000,0.087912,NaN,0.500000,NaN,0.500000,0.50,0.702128,...,NaN,0.500000,0.50,0.297872,0.688645,Albuquerque,66.0,0.393939,26.0,2016
0,0.000000,0.073846,0.036923,0.110769,NaN,0.250000,NaN,0.500000,0.50,0.687500,...,1.000000,0.500000,0.50,0.312500,0.590769,Albuquerque,52.0,0.423077,22.0,2015
0,0.000000,0.012308,0.012308,0.012308,NaN,NaN,1.000000,NaN,0.52,0.500000,...,NaN,1.000000,0.48,0.500000,0.024615,Albuquerque,80.0,0.487500,39.0,2017
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.019851,0.863524,0.019851,0.000000,1.0,0.597701,1.000000,NaN,NaN,0.750000,...,NaN,NaN,NaN,0.250000,0.079404,Atlanta,99.0,0.373737,37.0,2010
0,0.000000,0.975524,0.010490,0.000000,NaN,0.655914,NaN,NaN,NaN,1.000000,...,1.000000,NaN,NaN,NaN,0.010490,Atlanta,95.0,0.347368,33.0,2011
0,0.011121,0.923077,0.000000,0.011121,NaN,0.746988,NaN,NaN,NaN,0.750000,...,NaN,1.000000,NaN,0.250000,0.044486,Atlanta,89.0,0.269663,24.0,2012
0,0.011121,0.867470,0.000000,0.000000,1.0,0.717949,NaN,NaN,NaN,0.400000,...,NaN,NaN,NaN,0.600000,0.111214,Atlanta,89.0,0.314607,28.0,2013
0,0.000000,0.913151,0.009926,0.009926,NaN,0.532609,NaN,1.000000,NaN,0.666667,...,1.000000,NaN,NaN,0.333333,0.059553,Atlanta,100.0,0.460000,46.0,2014
0,0.000000,0.948025,0.008316,0.000000,NaN,0.526316,1.000000,NaN,NaN,0.500000,...,NaN,NaN,NaN,0.500000,0.033264,Atlanta,119.0,0.470588,56.0,2016
0,0.000000,0.942510,0.000000,0.000000,NaN,0.680412,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,0.048583,Atlanta,102.0,0.303922,31.0,2015
0,0.000000,0.984615,0.000000,0.000000,NaN,0.312500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,Atlanta,16.0,0.687500,11.0,2017
0,0.000000,0.864930,0.036342,0.000000,NaN,0.504202,0.200000,NaN,NaN,0.692308,...,0.800000,NaN,NaN,0.307692,0.094488,Atlanta,137.0,0.489051,67.0,2007

In [22]:
latslons = homicide_df.groupby('city').mean()
latslons = latslons.reset_index()
latslons['City'] = latslons['city']
latslons.head()

          city  reported_date        lat         lon         City
0  Albuquerque   2.014018e+07  35.091035 -106.604511  Albuquerque
1      Atlanta   2.011559e+07  33.740595  -84.420151      Atlanta
2    Baltimore   2.012415e+07  39.308105  -76.625437    Baltimore
3  Baton Rouge   2.014150e+07  30.469779  -91.142030  Baton Rouge
4   Birmingham   2.012199e+07  33.518107  -86.825055   Birmingham

In [130]:
# final_year_df = final_df.merge(latslons, on='City')

In [23]:
final_df = final_df.merge(latslons, on='City')

In [24]:
final_df.head()

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders,city,reported_date,lat,lon
0,0.014670,0.088020,0.178484,0.107579,NaN,0.583333,0.630137,0.704545,0.510870,0.666667,...,0.333333,0.381418,Albuquerque,409,0.386308,158,Albuquerque,2.014018e+07,35.091035,-106.604511
1,0.003795,0.907970,0.019924,0.003795,0.750000,0.617555,0.428571,0.500000,NaN,0.651515,...,0.348485,0.062619,Atlanta,1054,0.383302,404,Atlanta,2.011559e+07,33.740595,-84.420151
2,0.003592,0.918354,0.019922,0.001960,0.636364,0.337482,0.475410,0.333333,NaN,0.570588,...,0.429412,0.055519,Baltimore,3062,0.645330,1976,Baltimore,2.012415e+07,39.308105,-76.625437
3,0.002179,0.884532,0.023965,0.004357,1.000000,0.522167,0.545455,1.000000,NaN,0.648649,...,0.351351,0.080610,Baton Rouge,459,0.461874,212,Baton Rouge,2.014150e+07,30.469779,-91.142030
4,0.000000,0.882217,0.025404,0.005774,NaN,0.571990,0.454545,0.400000,0.666667,0.528571,...,0.471429,0.080831,Birmingham,866,0.434180,376,Birmingham,2.012199e+07,33.518107,-86.825055

In [13]:
final_year_df.head()

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders,Year
0,0.020513,0.082051,0.389744,0.123077,NaN,1.00,0.736842,0.833333,NaN,0.470588,...,0.263158,0.166667,NaN,0.529412,0.348718,Albuquerque,47.0,0.340426,16.0,2010
0,0.000000,0.145749,0.388664,0.121457,NaN,0.50,0.562500,1.000000,NaN,0.846154,...,0.437500,NaN,NaN,0.153846,0.315789,Albuquerque,40.0,0.300000,12.0,2011
0,0.000000,0.100334,0.381271,0.160535,NaN,0.40,0.842105,0.750000,1.0,0.533333,...,0.157895,0.250000,NaN,0.466667,0.301003,Albuquerque,48.0,0.312500,15.0,2012
0,0.000000,0.111888,0.419580,0.083916,NaN,0.75,0.333333,1.000000,NaN,0.461538,...,0.666667,NaN,NaN,0.538462,0.363636,Albuquerque,35.0,0.514286,18.0,2013
0,0.000000,0.263736,0.000000,0.197802,NaN,0.75,NaN,0.666667,NaN,0.666667,...,NaN,0.333333,NaN,0.333333,0.494505,Albuquerque,29.0,0.310345,9.0,2014

In [25]:
del final_df['city']
del final_df['reported_date']
final_df.head()

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders,lat,lon
0,0.014670,0.088020,0.178484,0.107579,NaN,0.583333,0.630137,0.704545,0.510870,0.666667,...,0.295455,0.489130,0.333333,0.381418,Albuquerque,409,0.386308,158,35.091035,-106.604511
1,0.003795,0.907970,0.019924,0.003795,0.750000,0.617555,0.428571,0.500000,NaN,0.651515,...,0.500000,NaN,0.348485,0.062619,Atlanta,1054,0.383302,404,33.740595,-84.420151
2,0.003592,0.918354,0.019922,0.001960,0.636364,0.337482,0.475410,0.333333,NaN,0.570588,...,0.666667,NaN,0.429412,0.055519,Baltimore,3062,0.645330,1976,39.308105,-76.625437
3,0.002179,0.884532,0.023965,0.004357,1.000000,0.522167,0.545455,1.000000,NaN,0.648649,...,NaN,NaN,0.351351,0.080610,Baton Rouge,459,0.461874,212,30.469779,-91.142030
4,0.000000,0.882217,0.025404,0.005774,NaN,0.571990,0.454545,0.400000,0.666667,0.528571,...,0.600000,0.333333,0.471429,0.080831,Birmingham,866,0.434180,376,33.518107,-86.825055

In [136]:
# del final_year_df['city']
# del final_year_df['reported_date']
final_year_df.head(20)

,City,% Hispanic,% Unsolved Hispanic,% Solved Hispanic,% White,% Unsolved White,% Solved White,% Other,% Unsolved Other,% Solved Other,% Black,% Solved Black,% Asian,% Unsolved Asian,% Unknown,Total Murders,Unsolved Murders,Unsolved Murder %,lat,lon
0,Albuquerque,0.046455,0.263158,0.736842,0.041565,0.529412,0.470588,0.01467,0.166667,0.833333,0.00978,1.0,0.002445,1.0,0.0,409,16,0.03912,35.091035,-106.604511

In [140]:
final_

,% Asian,% Black,% Hispanic,% Other,% Solved Asian,% Solved Black,% Solved Hispanic,% Solved Other,% Solved Unknown,% Solved White,...,% Unsolved Black,% Unsolved Hispanic,% Unsolved Other,% Unsolved Unknown,% Unsolved White,% White,City,Total Murders,Unsolved Murder %,Unsolved Murders
0,0.003578,0.893858,0.013119,0.002385,0.666667,0.447632,0.500000,0.250000,NaN,0.582192,...,0.552368,0.500000,0.750000,NaN,0.417808,0.087060,St. Louis,1677,0.539654,905
0,0.072072,0.326577,0.461712,0.033784,0.343750,0.420690,0.356098,0.266667,1.0,0.608696,...,0.579310,0.643902,0.733333,NaN,0.391304,0.103604,Stockton,444,0.599099,266
0,0.000000,0.658654,0.100962,0.000000,NaN,0.569343,0.428571,NaN,NaN,0.520000,...,0.430657,0.571429,NaN,NaN,0.480000,0.240385,Tampa,208,0.456731,95
0,0.005137,0.488014,0.071918,0.035959,0.666667,0.628070,0.571429,0.714286,1.0,0.731602,...,0.371930,0.428571,0.285714,NaN,0.268398,0.395548,Tulsa,584,0.330479,193
0,0.010409,0.904833,0.048327,0.005204,0.571429,0.557108,0.569231,0.571429,NaN,0.690476,...,0.442892,0.430769,0.428571,NaN,0.309524,0.031227,Washington,1345,0.437918,589

In [26]:
#Organizing Our Columns
organized_df = pd.DataFrame()
organized_df['City'] = final_df['City']
organized_df['Total Murders'] = final_df['Total Murders']
organized_df['Unsolved Murders'] = final_df['Unsolved Murders']
organized_df['Unsolved Murder %'] = final_df['Unsolved Murder %']
organized_df['% Total Asian'] = final_df['% Asian']
organized_df['% Unsolved Asian'] = final_df['% Unsolved Asian']
organized_df['% Total Black'] = final_df['% Black']
organized_df['% Unsolved Black'] = final_df['% Unsolved Black']
organized_df['% Total Hispanic'] = final_df['% Hispanic']
organized_df['% Unsolved Hispanic'] = final_df['% Unsolved Hispanic']
organized_df['% Total White'] = final_df['% White']
organized_df['% Unsolved White'] = final_df['% Unsolved White']
organized_df['% Total Other'] = final_df['% Other']
organized_df['% Unsolved Other'] = final_df['% Unsolved Other']
organized_df['% Total Unknown'] = final_df['% Unknown']
organized_df['% Unsolved Unknown'] = final_df['% Unsolved Unknown']


organized_df = organized_df.merge(latslons, on='City')
organized_df.head()

,City,Total Murders,Unsolved Murders,Unsolved Murder %,% Total Asian,% Unsolved Asian,% Total Black,% Unsolved Black,% Total Hispanic,% Unsolved Hispanic,% Total White,% Unsolved White,% Total Other,% Unsolved Other,% Total Unknown,% Unsolved Unknown,city,reported_date,lat,lon
0,Albuquerque,409,158,0.386308,0.014670,1.000000,0.088020,0.416667,0.178484,0.369863,0.381418,0.333333,0.107579,0.295455,0.224939,0.489130,Albuquerque,2.014018e+07,35.091035,-106.604511
1,Atlanta,1054,404,0.383302,0.003795,0.250000,0.907970,0.382445,0.019924,0.571429,0.062619,0.348485,0.003795,0.500000,0.000000,NaN,Atlanta,2.011559e+07,33.740595,-84.420151
2,Baltimore,3062,1976,0.645330,0.003592,0.363636,0.918354,0.662518,0.019922,0.524590,0.055519,0.429412,0.001960,0.666667,0.000000,NaN,Baltimore,2.012415e+07,39.308105,-76.625437
3,Baton Rouge,459,212,0.461874,0.002179,NaN,0.884532,0.477833,0.023965,0.454545,0.080610,0.351351,0.004357,NaN,0.000000,NaN,Baton Rouge,2.014150e+07,30.469779,-91.142030
4,Birmingham,866,376,0.434180,0.000000,NaN,0.882217,0.428010,0.025404,0.545455,0.080831,0.471429,0.005774,0.600000,0.003464,0.333333,Birmingham,2.012199e+07,33.518107,-86.825055

In [18]:
organized_df2 = pd.DataFrame()
organized_df2['City'] = final_year_df['City']
organized_df2['Year'] = final_year_df['Year']
organized_df2['Total Murders'] = final_year_df['Total Murders']
organized_df2['Unsolved Murders'] = final_year_df['Unsolved Murders']
organized_df2['Unsolved Murder %'] = final_year_df['Unsolved Murder %']
organized_df2['% Total Asian'] = final_year_df['% Asian']
organized_df2['% Unsolved Asian'] = final_year_df['% Unsolved Asian']
organized_df2['% Total Black'] = final_year_df['% Black']
organized_df2['% Unsolved Black'] = final_year_df['% Unsolved Black']
organized_df2['% Total Hispanic'] = final_year_df['% Hispanic']
organized_df2['% Unsolved Hispanic'] = final_year_df['% Unsolved Hispanic']
organized_df2['% Total White'] = final_year_df['% White']
organized_df2['% Unsolved White'] = final_year_df['% Unsolved White']
organized_df2['% Total Other'] = final_year_df['% Other']
organized_df2['% Unsolved Other'] = final_year_df['% Unsolved Other']
organized_df2['% Total Unknown'] = final_year_df['% Unknown']
organized_df2['% Unsolved Unknown'] = final_year_df['% Unsolved Unknown']

organized_df2.tail()

,City,Year,Total Murders,Unsolved Murders,Unsolved Murder %,% Total Asian,% Unsolved Asian,% Total Black,% Unsolved Black,% Total Hispanic,% Unsolved Hispanic,% Total White,% Unsolved White,% Total Other,% Unsolved Other,% Total Unknown,% Unsolved Unknown
0,Washington,2015,174.0,89.0,0.511494,0.000000,NaN,0.900285,0.525316,0.051282,0.666667,0.039886,NaN,0.000000,NaN,0.0,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Washington,2007,195.0,83.0,0.425641,0.010200,0.5,0.928177,0.428571,0.045899,0.444444,0.010200,NaN,0.000000,NaN,0.0,NaN
0,Washington,2008,199.0,81.0,0.407035,0.004963,1.0,0.883375,0.410112,0.054591,0.272727,0.034739,0.285714,0.009926,1.0,0.0,NaN
0,Washington,2009,155.0,68.0,0.438710,0.000000,NaN,0.923077,0.437500,0.064103,0.500000,0.000000,NaN,0.006410,NaN,0.0,NaN

In [31]:
organized_df2 = organized_df2.sort_values(by=['City', 'Year'])

organized_df2

,City,Year,Total Murders,Unsolved Murders,Unsolved Murder %,% Total Asian,% Unsolved Asian,% Total Black,% Unsolved Black,% Total Hispanic,% Unsolved Hispanic,% Total White,% Unsolved White,% Total Other,% Unsolved Other,% Total Unknown,% Unsolved Unknown
0,Albuquerque,2010,47.0,16.0,0.340426,0.020513,1.0,0.082051,NaN,0.389744,0.263158,0.348718,0.529412,0.123077,0.166667,0.000000,NaN
0,Albuquerque,2011,40.0,12.0,0.300000,0.000000,NaN,0.145749,0.50,0.388664,0.437500,0.315789,0.153846,0.121457,NaN,0.000000,NaN
0,Albuquerque,2012,48.0,15.0,0.312500,0.000000,NaN,0.100334,0.60,0.381271,0.157895,0.301003,0.466667,0.160535,0.250000,0.020067,NaN
0,Albuquerque,2013,35.0,18.0,0.514286,0.000000,NaN,0.111888,0.25,0.419580,0.666667,0.363636,0.538462,0.083916,NaN,0.000000,NaN
0,Albuquerque,2014,29.0,9.0,0.310345,0.000000,NaN,0.263736,0.25,0.000000,NaN,0.494505,0.333333,0.197802,0.333333,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
del organized_df['city']
del organized_df['reported_date']
organized_df.head()

,City,Total Murders,Unsolved Murders,Unsolved Murder %,% Total Asian,% Unsolved Asian,% Total Black,% Unsolved Black,% Total Hispanic,% Unsolved Hispanic,% Total White,% Unsolved White,% Total Other,% Unsolved Other,% Total Unknown,% Unsolved Unknown,lat,lon
0,Albuquerque,409,158,0.386308,0.014670,1.000000,0.088020,0.416667,0.178484,0.369863,0.381418,0.333333,0.107579,0.295455,0.224939,0.489130,35.091035,-106.604511
1,Atlanta,1054,404,0.383302,0.003795,0.250000,0.907970,0.382445,0.019924,0.571429,0.062619,0.348485,0.003795,0.500000,0.000000,NaN,33.740595,-84.420151
2,Baltimore,3062,1976,0.645330,0.003592,0.363636,0.918354,0.662518,0.019922,0.524590,0.055519,0.429412,0.001960,0.666667,0.000000,NaN,39.308105,-76.625437
3,Baton Rouge,459,212,0.461874,0.002179,NaN,0.884532,0.477833,0.023965,0.454545,0.080610,0.351351,0.004357,NaN,0.000000,NaN,30.469779,-91.142030
4,Birmingham,866,376,0.434180,0.000000,NaN,0.882217,0.428010,0.025404,0.545455,0.080831,0.471429,0.005774,0.600000,0.003464,0.333333,33.518107,-86.825055

In [28]:
organized_df.to_csv('Data_Totals.csv')

In [29]:
organized_df.to_json('Data_Totals.json')

In [32]:
organized_df2.to_csv('Yearly_Totals.csv')

In [43]:
table1 = str(organized_df.to_html())
print(table1.translate({ord('\n'): None}))

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Total Murders</th>      <th>Unsolved Murders</th>      <th>Unsolved Murder %</th>      <th>% Total Asian</th>      <th>% Unsolved Asian</th>      <th>% Total Black</th>      <th>% Unsolved Black</th>      <th>% Total Hispanic</th>      <th>% Unsolved Hispanic</th>      <th>% Total White</th>      <th>% Unsolved White</th>      <th>% Total Other</th>      <th>% Unsolved Other</th>      <th>% Total Unknown</th>      <th>% Unsolved Unknown</th>      <th>lat</th>      <th>lon</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albuquerque</td>      <td>409</td>      <td>158</td>      <td>0.386308</td>      <td>0.014670</td>      <td>1.000000</td>      <td>0.088020</td>      <td>0.416667</td>      <td>0.178484</td>      <td>0.369863</td>      <td>0.381418</td>      <td>0.333333</td>      <td>0.107579</td>      <td>0.295455</td>      <td>0.224939</td>      <td>0.489130</td>      <td>35.091035</td>      <td>-106.604511</td>    </tr>    <tr>      <th>1</th>      <td>Atlanta</td>      <td>1054</td>      <td>404</td>      <td>0.383302</td>      <td>0.003795</td>      <td>0.250000</td>      <td>0.907970</td>      <td>0.382445</td>      <td>0.019924</td>      <td>0.571429</td>      <td>0.062619</td>      <td>0.348485</td>      <td>0.003795</td>      <td>0.500000</td>      <td>0.000000</td>      <td>NaN</td>      <td>33.740595</td>      <td>-84.420151</td>    </tr>    <tr>      <th>2</th>      <td>Baltimore</td>      <td>3062</td>      <td>1976</td>      <td>0.645330</td>      <td>0.003592</td>      <td>0.363636</td>      <td>0.918354</td>      <td>0.662518</td>      <td>0.019922</td>      <td>0.524590</td>      <td>0.055519</td>      <td>0.429412</td>      <td>0.001960</td>      <td>0.666667</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.308105</td>      <td>-76.625437</td>    </tr>    <tr>      <th>3</th>      <td>Baton Rouge</td>      <td>459</td>      <td>212</td>      <td>0.461874</td>      <td>0.002179</td>      <td>NaN</td>      <td>0.884532</td>      <td>0.477833</td>      <td>0.023965</td>      <td>0.454545</td>      <td>0.080610</td>      <td>0.351351</td>      <td>0.004357</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>30.469779</td>      <td>-91.142030</td>    </tr>    <tr>      <th>4</th>      <td>Birmingham</td>      <td>866</td>      <td>376</td>      <td>0.434180</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.882217</td>      <td>0.428010</td>      <td>0.025404</td>      <td>0.545455</td>      <td>0.080831</td>      <td>0.471429</td>      <td>0.005774</td>      <td>0.600000</td>      <td>0.003464</td>      <td>0.333333</td>      <td>33.518107</td>      <td>-86.825055</td>    </tr>    <tr>      <th>5</th>      <td>Boston</td>      <td>665</td>      <td>335</td>      <td>0.503759</td>      <td>0.009023</td>      <td>0.166667</td>      <td>0.708271</td>      <td>0.583864</td>      <td>0.183459</td>      <td>0.418033</td>      <td>0.091729</td>      <td>0.098361</td>      <td>0.003008</td>      <td>0.500000</td>      <td>0.001504</td>      <td>1.000000</td>      <td>42.312108</td>      <td>-71.081585</td>    </tr>    <tr>      <th>6</th>      <td>Buffalo</td>      <td>564</td>      <td>346</td>      <td>0.613475</td>      <td>0.003546</td>      <td>0.500000</td>      <td>0.813830</td>      <td>0.653595</td>      <td>0.069149</td>      <td>0.487179</td>      <td>0.104610</td>      <td>0.389831</td>      <td>0.003546</td>      <td>0.500000</td>      <td>0.003546</td>      <td>1.000000</td>      <td>42.912703</td>      <td>-78.843427</td>    </tr>    <tr>      <th>7</th>      <td>Charlotte</td>      <td>744</td>      <td>223</td>      <td>0.299731</td>      <td>0.005376</td>      <td>0.750000</td>      <td>0.706989</td>      <td>0.287072</td>      <td>0.122312</td>      <td>0.395604</td>      <td>0.142473</td>      <td>0.207547</td>      <td>0.009409</td>      <td>0.428571</td>      <td>0.010753</td>      <td>1.000000</td>      <td>35.229826</td>      <td>-80.827739</td>    </tr>    <tr>      <th>8</th>      <td>Chicago</td>      <td>5996</td>      <td>4413</td>      <td>0.735991</td>      <td>0.004503</td>      <td>0.666667</td>      <td>0.768012</td>      <td>0.746797</td>      <td>0.178619</td>      <td>0.731092</td>      <td>0.046197</td>      <td>0.584838</td>      <td>0.001167</td>      <td>0.571429</td>      <td>0.001167</td>      <td>1.000000</td>      <td>41.814838</td>      <td>-87.668732</td>    </tr>    <tr>      <th>9</th>      <td>Cincinnati</td>      <td>751</td>      <td>335</td>      <td>0.446072</td>      <td>0.001332</td>      <td>1.000000</td>      <td>0.849534</td>      <td>0.476489</td>      <td>0.006658</td>      <td>0.600000</td>      <td>0.129161</td>      <td>0.226804</td>      <td>0.010652</td>      <td>0.625000</td>      <td>0.001332</td>      <td>NaN</td>      <td>39.142641</td>      <td>-84.516374</td>    </tr>    <tr>      <th>10</th>      <td>Columbus</td>      <td>1174</td>      <td>624</td>      <td>0.531516</td>      <td>0.000852</td>      <td>NaN</td>      <td>0.708688</td>      <td>0.550481</td>      <td>0.034072</td>      <td>0.600000</td>      <td>0.237649</td>      <td>0.473118</td>      <td>0.017036</td>      <td>0.450000</td>      <td>0.000852</td>      <td>1.000000</td>      <td>39.974195</td>      <td>-82.972469</td>    </tr>    <tr>      <th>11</th>      <td>Dallas</td>      <td>1697</td>      <td>817</td>      <td>0.481438</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.481438</td>      <td>32.773736</td>      <td>-96.779863</td>    </tr>    <tr>      <th>12</th>      <td>Denver</td>      <td>338</td>      <td>182</td>      <td>0.538462</td>      <td>0.014793</td>      <td>0.200000</td>      <td>0.360947</td>      <td>0.598361</td>      <td>0.298817</td>      <td>0.594059</td>      <td>0.301775</td>      <td>0.450980</td>      <td>0.014793</td>      <td>0.400000</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.734511</td>      <td>-104.960813</td>    </tr>    <tr>      <th>13</th>      <td>Detroit</td>      <td>2728</td>      <td>1604</td>      <td>0.587977</td>      <td>0.003299</td>      <td>0.666667</td>      <td>0.892595</td>      <td>0.597536</td>      <td>0.017962</td>      <td>0.571429</td>      <td>0.082845</td>      <td>0.477876</td>      <td>0.001833</td>      <td>1.000000</td>      <td>0.000733</td>      <td>1.000000</td>      <td>42.389720</td>      <td>-83.105598</td>    </tr>    <tr>      <th>14</th>      <td>Durham</td>      <td>299</td>      <td>109</td>      <td>0.364548</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.739130</td>      <td>0.348416</td>      <td>0.160535</td>      <td>0.458333</td>      <td>0.093645</td>      <td>0.357143</td>      <td>0.003344</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>35.989660</td>      <td>-78.894106</td>    </tr>    <tr>      <th>15</th>      <td>Fort Worth</td>      <td>594</td>      <td>275</td>      <td>0.462963</td>      <td>0.010101</td>      <td>0.333333</td>      <td>0.452862</td>      <td>0.438662</td>      <td>0.276094</td>      <td>0.506098</td>      <td>0.244108</td>      <td>0.462069</td>      <td>0.013468</td>      <td>0.625000</td>      <td>0.000000</td>      <td>NaN</td>      <td>32.732737</td>      <td>-97.316228</td>    </tr>    <tr>      <th>16</th>      <td>Fresno</td>      <td>527</td>      <td>184</td>      <td>0.349146</td>      <td>0.055028</td>      <td>0.344828</td>      <td>0.299810</td>      <td>0.386076</td>      <td>0.497154</td>      <td>0.366412</td>      <td>0.130930</td>      <td>0.202899</td>      <td>0.011385</td>      <td>0.500000</td>      <td>0.003795</td>      <td>NaN</td>      <td>36.758571</td>      <td>-119.787636</td>    </tr>    <tr>      <th>17</th>      <td>Houston</td>      <td>3187</td>      <td>1617</td>      <td>0.507374</td>      <td>0.030750</td>      <td>0.387755</td>      <td>0.512080</td>      <td>0.489583</td>      <td>0.323502</td>      <td>0.554801</td>      <td>0.128961</td>      <td>0.484185</td>      <td>0.004079</td>      <td>0.692308</td>      <td>0.000000</td>      <td>NaN</td>      <td>29.743696</td>      <td>-95.418187</td>    </tr>    <tr>      <th>18</th>      <td>Indianapolis</td>      <td>1432</td>      <td>643</td>      <td>0.449022</td>      <td>0.002793</td>      <td>0.500000</td>      <td>0.687849</td>      <td>0.488325</td>      <td>0.056564</td>      <td>0.493827</td>      <td>0.247207</td>      <td>0.333333</td>      <td>0.003492</td>      <td>0.200000</td>      <td>0.000698</td>      <td>1.000000</td>      <td>39.800703</td>      <td>-86.134966</td>    </tr>    <tr>      <th>19</th>      <td>Jacksonville</td>      <td>1265</td>      <td>647</td>      <td>0.511462</td>      <td>0.010277</td>      <td>0.384615</td>      <td>0.680632</td>      <td>0.544715</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.293281</td>      <td>0.436658</td>      <td>0.000791</td>      <td>NaN</td>      <td>0.014229</td>      <td>0.611111</td>      <td>30.328058</td>      <td>-81.668826</td>    </tr>    <tr>      <th>20</th>      <td>Kansas City</td>      <td>1289</td>      <td>527</td>      <td>0.408844</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.408844</td>      <td>39.053904</td>      <td>-94.544608</td>    </tr>    <tr>      <th>21</th>      <td>Las Vegas</td>      <td>1496</td>      <td>620</td>      <td>0.414439</td>      <td>0.039439</td>      <td>0.389831</td>      <td>0.326872</td>      <td>0.398773</td>      <td>0.247326</td>      <td>0.416216</td>      <td>0.330882</td>      <td>0.355556</td>      <td>0.004679</td>      <td>0.714286</td>      <td>0.048797</td>      <td>0.917808</td>      <td>36.145474</td>      <td>-115.154943</td>    </tr>    <tr>      <th>22</th>      <td>Long Beach</td>      <td>409</td>      <td>168</td>      <td>0.410758</td>      <td>0.122249</td>      <td>0.460000</td>      <td>0.374083</td>      <td>0.366013</td>      <td>0.354523</td>      <td>0.489655</td>      <td>0.114914</td>      <td>0.319149</td>      <td>0.026895</td>      <td>0.272727</td>      <td>0.000000</td>      <td>NaN</td>      <td>33.807344</td>      <td>-118.179574</td>    </tr>    <tr>      <th>23</th>      <td>Los Angeles</td>      <td>2445</td>      <td>1198</td>      <td>0.489980</td>      <td>0.012679</td>      <td>0.354839</td>      <td>0.392229</td>      <td>0.520334</td>      <td>0.481800</td>      <td>0.499151</td>      <td>0.085072</td>      <td>0.384615</td>      <td>0.025767</td>      <td>0.317460</td>      <td>0.001227</td>      <td>NaN</td>      <td>34.038276</td>      <td>-118.315333</td>    </tr>    <tr>      <th>24</th>      <td>Louisville</td>      <td>624</td>      <td>282</td>      <td>0.451923</td>      <td>0.006410</td>      <td>0.250000</td>      <td>0.663462</td>      <td>0.516908</td>      <td>0.032051</td>      <td>0.650000</td>      <td>0.288462</td>      <td>0.294444</td>      <td>0.004808</td>      <td>0.333333</td>      <td>0.000000</td>      <td>NaN</td>      <td>38.219418</td>      <td>-85.763375</td>    </tr>    <tr>      <th>25</th>      <td>Memphis</td>      <td>1640</td>      <td>524</td>      <td>0.319512</td>      <td>0.003659</td>      <td>0.333333</td>      <td>0.849390</td>      <td>0.313711</td>      <td>0.051829</td>      <td>0.435294</td>      <td>0.089024</td>      <td>0.308219</td>      <td>0.003049</td>      <td>0.600000</td>      <td>0.001829</td>      <td>NaN</td>      <td>35.113437</td>      <td>-89.973968</td>    </tr>    <tr>      <th>26</th>      <td>Miami</td>      <td>806</td>      <td>489</td>      <td>0.606700</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.408189</td>      <td>0.693009</td>      <td>0.043424</td>      <td>0.685714</td>      <td>0.179901</td>      <td>0.565517</td>      <td>0.001241</td>      <td>1.000000</td>      <td>0.364764</td>      <td>0.523810</td>      <td>25.805727</td>      <td>-80.213680</td>    </tr>    <tr>      <th>27</th>      <td>Milwaukee</td>      <td>1207</td>      <td>436</td>      <td>0.361226</td>      <td>0.009114</td>      <td>NaN</td>      <td>0.794532</td>      <td>0.383733</td>      <td>0.092792</td>      <td>0.285714</td>      <td>0.096935</td>      <td>0.290598</td>      <td>0.004971</td>      <td>0.333333</td>      <td>0.000000</td>      <td>NaN</td>      <td>43.070828</td>      <td>-87.952668</td>    </tr>    <tr>      <th>28</th>      <td>Minneapolis</td>      <td>396</td>      <td>202</td>      <td>0.510101</td>      <td>0.007576</td>      <td>0.666667</td>      <td>0.676768</td>      <td>0.529851</td>      <td>0.022727</td>      <td>0.555556</td>      <td>0.138889</td>      <td>0.400000</td>      <td>0.146465</td>      <td>0.517241</td>      <td>0.002525</td>      <td>1.000000</td>      <td>44.984597</td>      <td>-93.278858</td>    </tr>    <tr>      <th>29</th>      <td>Nashville</td>      <td>830</td>      <td>301</td>      <td>0.362651</td>      <td>0.016867</td>      <td>0.214286</td>      <td>0.636145</td>      <td>0.375000</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.336145</td>      <td>0.347670</td>      <td>0.008434</td>      <td>0.285714</td>      <td>0.001205</td>      <td>1.000000</td>      <td>36.159370</td>      <td>-86.755750</td>    </tr>    <tr>      <th>30</th>      <td>New Orleans</td>      <td>1553</td>      <td>1007</td>      <td>0.648422</td>      <td>0.005151</td>      <td>0.375000</td>      <td>0.882164</td>      <td>0.658394</td>      <td>0.031552</td>      <td>0.571429</td>      <td>0.061172</td>      <td>0.526316</td>      <td>0.001932</td>      <td>1.000000</td>      <td>0.016742</td>      <td>0.807692</td>      <td>29.976271</td>      <td>-90.048220</td>    </tr>    <tr>      <th>31</th>      <td>New York</td>      <td>679</td>      <td>264</td>      <td>0.388807</td>      <td>0.048601</td>      <td>0.303030</td>      <td>0.559647</td>      <td>0.452632</td>      <td>0.288660</td>      <td>0.326531</td>      <td>0.097202</td>      <td>0.242424</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.004418</td>      <td>0.666667</td>      <td>40.730916</td>      <td>-73.919099</td>    </tr>    <tr>      <th>32</th>      <td>Oakland</td>      <td>1025</td>      <td>550</td>      <td>0.536585</td>      <td>0.017561</td>      <td>0.277778</td>      <td>0.725854</td>      <td>0.587366</td>      <td>0.155122</td>      <td>0.509434</td>      <td>0.055610</td>      <td>0.192982</td>      <td>0.044878</td>      <td>0.347826</td>      <td>0.000000</td>      <td>NaN</td>      <td>37.780218</td>      <td>-122.216082</td>    </tr>    <tr>      <th>33</th>      <td>Oklahoma City</td>      <td>728</td>      <td>351</td>      <td>0.482143</td>      <td>0.006868</td>      <td>0.600000</td>      <td>0.457418</td>      <td>0.492492</td>      <td>0.013736</td>      <td>0.100000</td>      <td>0.317308</td>      <td>0.419913</td>      <td>0.192308</td>      <td>0.592857</td>      <td>0.006868</td>      <td>0.600000</td>      <td>35.478868</td>      <td>-97.533250</td>    </tr>    <tr>      <th>34</th>      <td>Omaha</td>      <td>443</td>      <td>182</td>      <td>0.410835</td>      <td>0.004515</td>      <td>0.500000</td>      <td>0.604966</td>      <td>0.582090</td>      <td>0.081264</td>      <td>0.194444</td>      <td>0.284424</td>      <td>0.134921</td>      <td>0.013544</td>      <td>NaN</td>      <td>0.004515</td>      <td>0.500000</td>      <td>41.274535</td>      <td>-95.979098</td>    </tr>    <tr>      <th>35</th>      <td>Philadelphia</td>      <td>3290</td>      <td>1474</td>      <td>0.448024</td>      <td>0.015805</td>      <td>0.326923</td>      <td>0.776596</td>      <td>0.459883</td>      <td>0.122796</td>      <td>0.470297</td>      <td>0.084195</td>      <td>0.328520</td>      <td>0.000304</td>      <td>1.000000</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.989399</td>      <td>-75.161434</td>    </tr>    <tr>      <th>36</th>      <td>Phoenix</td>      <td>990</td>      <td>546</td>      <td>0.551515</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.551515</td>      <td>33.499770</td>      <td>-112.106574</td>    </tr>    <tr>      <th>37</th>      <td>Pittsburgh</td>      <td>683</td>      <td>365</td>      <td>0.534407</td>      <td>0.004392</td>      <td>0.333333</td>      <td>0.865300</td>      <td>0.576988</td>      <td>0.004392</td>      <td>NaN</td>      <td>0.121523</td>      <td>0.253012</td>      <td>0.002928</td>      <td>1.000000</td>      <td>0.000000</td>      <td>NaN</td>      <td>40.450203</td>      <td>-79.965397</td>    </tr>    <tr>      <th>38</th>      <td>Richmond</td>      <td>464</td>      <td>122</td>      <td>0.262931</td>      <td>0.008621</td>      <td>0.250000</td>      <td>0.877155</td>      <td>0.257985</td>      <td>0.032328</td>      <td>0.600000</td>      <td>0.073276</td>      <td>0.147059</td>      <td>0.004310</td>      <td>1.000000</td>      <td>0.002155</td>      <td>NaN</td>      <td>37.529349</td>      <td>-77.446554</td>    </tr>    <tr>      <th>39</th>      <td>San Antonio</td>      <td>902</td>      <td>388</td>      <td>0.430155</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.218404</td>      <td>0.426396</td>      <td>0.505543</td>      <td>0.442982</td>      <td>0.152993</td>      <td>0.376812</td>      <td>0.118625</td>      <td>0.457944</td>      <td>0.003326</td>      <td>0.333333</td>      <td>29.445377</td>      <td>-98.506836</td>    </tr>    <tr>      <th>40</th>      <td>Sacramento</td>      <td>407</td>      <td>151</td>      <td>0.371007</td>      <td>0.127764</td>      <td>0.461538</td>      <td>0.420147</td>      <td>0.403509</td>      <td>0.216216</td>      <td>0.306818</td>      <td>0.206388</td>      <td>0.309524</td>      <td>0.024570</td>      <td>0.500000</td>      <td>0.000000</td>      <td>NaN</td>      <td>38.562487</td>      <td>-121.467124</td>    </tr>    <tr>      <th>41</th>      <td>Savannah</td>      <td>266</td>      <td>124</td>      <td>0.466165</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.763158</td>      <td>0.502463</td>      <td>0.018797</td>      <td>0.200000</td>      <td>0.172932</td>      <td>0.369565</td>      <td>0.003759</td>      <td>NaN</td>      <td>0.033835</td>      <td>0.444444</td>      <td>32.040989</td>      <td>-81.105508</td>    </tr>    <tr>      <th>42</th>      <td>San Bernardino</td>      <td>297</td>      <td>183</td>      <td>0.616162</td>      <td>0.020202</td>      <td>0.666667</td>      <td>0.441077</td>      <td>0.641221</td>      <td>0.387205</td>      <td>0.608696</td>      <td>0.111111</td>      <td>0.545455</td>      <td>0.033670</td>      <td>0.700000</td>      <td>0.000000</td>      <td>NaN</td>      <td>34.123034</td>      <td>-117.291759</td>    </tr>    <tr>      <th>43</th>      <td>San Diego</td>      <td>499</td>      <td>190</td>      <td>0.380762</td>      <td>0.084168</td>      <td>0.452381</td>      <td>0.320641</td>      <td>0.431250</td>      <td>0.300601</td>      <td>0.413333</td>      <td>0.268537</td>      <td>0.261194</td>      <td>0.022044</td>      <td>0.454545</td>      <td>0.000000</td>      <td>NaN</td>      <td>32.739495</td>      <td>-117.115455</td>    </tr>    <tr>      <th>44</th>      <td>San Francisco</td>      <td>718</td>      <td>364</td>      <td>0.506964</td>      <td>0.054318</td>      <td>0.333333</td>     

In [44]:
table2 = str(organized_df2.to_html())
print(table1.translate({ord('\n'): None}))

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Total Murders</th>      <th>Unsolved Murders</th>      <th>Unsolved Murder %</th>      <th>% Total Asian</th>      <th>% Unsolved Asian</th>      <th>% Total Black</th>      <th>% Unsolved Black</th>      <th>% Total Hispanic</th>      <th>% Unsolved Hispanic</th>      <th>% Total White</th>      <th>% Unsolved White</th>      <th>% Total Other</th>      <th>% Unsolved Other</th>      <th>% Total Unknown</th>      <th>% Unsolved Unknown</th>      <th>lat</th>      <th>lon</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albuquerque</td>      <td>409</td>      <td>158</td>      <td>0.386308</td>      <td>0.014670</td>      <td>1.000000</td>      <td>0.088020</td>      <td>0.416667</td>      <td>0.178484</td>      <td>0.369863</td>      <td>0.381418</td>      <td>0.333333</td>      <td>0.107579</td>      <td>0.295455</td>      <td>0.224939</td>      <td>0.489130</td>      <td>35.091035</td>      <td>-106.604511</td>    </tr>    <tr>      <th>1</th>      <td>Atlanta</td>      <td>1054</td>      <td>404</td>      <td>0.383302</td>      <td>0.003795</td>      <td>0.250000</td>      <td>0.907970</td>      <td>0.382445</td>      <td>0.019924</td>      <td>0.571429</td>      <td>0.062619</td>      <td>0.348485</td>      <td>0.003795</td>      <td>0.500000</td>      <td>0.000000</td>      <td>NaN</td>      <td>33.740595</td>      <td>-84.420151</td>    </tr>    <tr>      <th>2</th>      <td>Baltimore</td>      <td>3062</td>      <td>1976</td>      <td>0.645330</td>      <td>0.003592</td>      <td>0.363636</td>      <td>0.918354</td>      <td>0.662518</td>      <td>0.019922</td>      <td>0.524590</td>      <td>0.055519</td>      <td>0.429412</td>      <td>0.001960</td>      <td>0.666667</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.308105</td>      <td>-76.625437</td>    </tr>    <tr>      <th>3</th>      <td>Baton Rouge</td>      <td>459</td>      <td>212</td>      <td>0.461874</td>      <td>0.002179</td>      <td>NaN</td>      <td>0.884532</td>      <td>0.477833</td>      <td>0.023965</td>      <td>0.454545</td>      <td>0.080610</td>      <td>0.351351</td>      <td>0.004357</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>30.469779</td>      <td>-91.142030</td>    </tr>    <tr>      <th>4</th>      <td>Birmingham</td>      <td>866</td>      <td>376</td>      <td>0.434180</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.882217</td>      <td>0.428010</td>      <td>0.025404</td>      <td>0.545455</td>      <td>0.080831</td>      <td>0.471429</td>      <td>0.005774</td>      <td>0.600000</td>      <td>0.003464</td>      <td>0.333333</td>      <td>33.518107</td>      <td>-86.825055</td>    </tr>    <tr>      <th>5</th>      <td>Boston</td>      <td>665</td>      <td>335</td>      <td>0.503759</td>      <td>0.009023</td>      <td>0.166667</td>      <td>0.708271</td>      <td>0.583864</td>      <td>0.183459</td>      <td>0.418033</td>      <td>0.091729</td>      <td>0.098361</td>      <td>0.003008</td>      <td>0.500000</td>      <td>0.001504</td>      <td>1.000000</td>      <td>42.312108</td>      <td>-71.081585</td>    </tr>    <tr>      <th>6</th>      <td>Buffalo</td>      <td>564</td>      <td>346</td>      <td>0.613475</td>      <td>0.003546</td>      <td>0.500000</td>      <td>0.813830</td>      <td>0.653595</td>      <td>0.069149</td>      <td>0.487179</td>      <td>0.104610</td>      <td>0.389831</td>      <td>0.003546</td>      <td>0.500000</td>      <td>0.003546</td>      <td>1.000000</td>      <td>42.912703</td>      <td>-78.843427</td>    </tr>    <tr>      <th>7</th>      <td>Charlotte</td>      <td>744</td>      <td>223</td>      <td>0.299731</td>      <td>0.005376</td>      <td>0.750000</td>      <td>0.706989</td>      <td>0.287072</td>      <td>0.122312</td>      <td>0.395604</td>      <td>0.142473</td>      <td>0.207547</td>      <td>0.009409</td>      <td>0.428571</td>      <td>0.010753</td>      <td>1.000000</td>      <td>35.229826</td>      <td>-80.827739</td>    </tr>    <tr>      <th>8</th>      <td>Chicago</td>      <td>5996</td>      <td>4413</td>      <td>0.735991</td>      <td>0.004503</td>      <td>0.666667</td>      <td>0.768012</td>      <td>0.746797</td>      <td>0.178619</td>      <td>0.731092</td>      <td>0.046197</td>      <td>0.584838</td>      <td>0.001167</td>      <td>0.571429</td>      <td>0.001167</td>      <td>1.000000</td>      <td>41.814838</td>      <td>-87.668732</td>    </tr>    <tr>      <th>9</th>      <td>Cincinnati</td>      <td>751</td>      <td>335</td>      <td>0.446072</td>      <td>0.001332</td>      <td>1.000000</td>      <td>0.849534</td>      <td>0.476489</td>      <td>0.006658</td>      <td>0.600000</td>      <td>0.129161</td>      <td>0.226804</td>      <td>0.010652</td>      <td>0.625000</td>      <td>0.001332</td>      <td>NaN</td>      <td>39.142641</td>      <td>-84.516374</td>    </tr>    <tr>      <th>10</th>      <td>Columbus</td>      <td>1174</td>      <td>624</td>      <td>0.531516</td>      <td>0.000852</td>      <td>NaN</td>      <td>0.708688</td>      <td>0.550481</td>      <td>0.034072</td>      <td>0.600000</td>      <td>0.237649</td>      <td>0.473118</td>      <td>0.017036</td>      <td>0.450000</td>      <td>0.000852</td>      <td>1.000000</td>      <td>39.974195</td>      <td>-82.972469</td>    </tr>    <tr>      <th>11</th>      <td>Dallas</td>      <td>1697</td>      <td>817</td>      <td>0.481438</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.481438</td>      <td>32.773736</td>      <td>-96.779863</td>    </tr>    <tr>      <th>12</th>      <td>Denver</td>      <td>338</td>      <td>182</td>      <td>0.538462</td>      <td>0.014793</td>      <td>0.200000</td>      <td>0.360947</td>      <td>0.598361</td>      <td>0.298817</td>      <td>0.594059</td>      <td>0.301775</td>      <td>0.450980</td>      <td>0.014793</td>      <td>0.400000</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.734511</td>      <td>-104.960813</td>    </tr>    <tr>      <th>13</th>      <td>Detroit</td>      <td>2728</td>      <td>1604</td>      <td>0.587977</td>      <td>0.003299</td>      <td>0.666667</td>      <td>0.892595</td>      <td>0.597536</td>      <td>0.017962</td>      <td>0.571429</td>      <td>0.082845</td>      <td>0.477876</td>      <td>0.001833</td>      <td>1.000000</td>      <td>0.000733</td>      <td>1.000000</td>      <td>42.389720</td>      <td>-83.105598</td>    </tr>    <tr>      <th>14</th>      <td>Durham</td>      <td>299</td>      <td>109</td>      <td>0.364548</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.739130</td>      <td>0.348416</td>      <td>0.160535</td>      <td>0.458333</td>      <td>0.093645</td>      <td>0.357143</td>      <td>0.003344</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>35.989660</td>      <td>-78.894106</td>    </tr>    <tr>      <th>15</th>      <td>Fort Worth</td>      <td>594</td>      <td>275</td>      <td>0.462963</td>      <td>0.010101</td>      <td>0.333333</td>      <td>0.452862</td>      <td>0.438662</td>      <td>0.276094</td>      <td>0.506098</td>      <td>0.244108</td>      <td>0.462069</td>      <td>0.013468</td>      <td>0.625000</td>      <td>0.000000</td>      <td>NaN</td>      <td>32.732737</td>      <td>-97.316228</td>    </tr>    <tr>      <th>16</th>      <td>Fresno</td>      <td>527</td>      <td>184</td>      <td>0.349146</td>      <td>0.055028</td>      <td>0.344828</td>      <td>0.299810</td>      <td>0.386076</td>      <td>0.497154</td>      <td>0.366412</td>      <td>0.130930</td>      <td>0.202899</td>      <td>0.011385</td>      <td>0.500000</td>      <td>0.003795</td>      <td>NaN</td>      <td>36.758571</td>      <td>-119.787636</td>    </tr>    <tr>      <th>17</th>      <td>Houston</td>      <td>3187</td>      <td>1617</td>      <td>0.507374</td>      <td>0.030750</td>      <td>0.387755</td>      <td>0.512080</td>      <td>0.489583</td>      <td>0.323502</td>      <td>0.554801</td>      <td>0.128961</td>      <td>0.484185</td>      <td>0.004079</td>      <td>0.692308</td>      <td>0.000000</td>      <td>NaN</td>      <td>29.743696</td>      <td>-95.418187</td>    </tr>    <tr>      <th>18</th>      <td>Indianapolis</td>      <td>1432</td>      <td>643</td>      <td>0.449022</td>      <td>0.002793</td>      <td>0.500000</td>      <td>0.687849</td>      <td>0.488325</td>      <td>0.056564</td>      <td>0.493827</td>      <td>0.247207</td>      <td>0.333333</td>      <td>0.003492</td>      <td>0.200000</td>      <td>0.000698</td>      <td>1.000000</td>      <td>39.800703</td>      <td>-86.134966</td>    </tr>    <tr>      <th>19</th>      <td>Jacksonville</td>      <td>1265</td>      <td>647</td>      <td>0.511462</td>      <td>0.010277</td>      <td>0.384615</td>      <td>0.680632</td>      <td>0.544715</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.293281</td>      <td>0.436658</td>      <td>0.000791</td>      <td>NaN</td>      <td>0.014229</td>      <td>0.611111</td>      <td>30.328058</td>      <td>-81.668826</td>    </tr>    <tr>      <th>20</th>      <td>Kansas City</td>      <td>1289</td>      <td>527</td>      <td>0.408844</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.408844</td>      <td>39.053904</td>      <td>-94.544608</td>    </tr>    <tr>      <th>21</th>      <td>Las Vegas</td>      <td>1496</td>      <td>620</td>      <td>0.414439</td>      <td>0.039439</td>      <td>0.389831</td>      <td>0.326872</td>      <td>0.398773</td>      <td>0.247326</td>      <td>0.416216</td>      <td>0.330882</td>      <td>0.355556</td>      <td>0.004679</td>      <td>0.714286</td>      <td>0.048797</td>      <td>0.917808</td>      <td>36.145474</td>      <td>-115.154943</td>    </tr>    <tr>      <th>22</th>      <td>Long Beach</td>      <td>409</td>      <td>168</td>      <td>0.410758</td>      <td>0.122249</td>      <td>0.460000</td>      <td>0.374083</td>      <td>0.366013</td>      <td>0.354523</td>      <td>0.489655</td>      <td>0.114914</td>      <td>0.319149</td>      <td>0.026895</td>      <td>0.272727</td>      <td>0.000000</td>      <td>NaN</td>      <td>33.807344</td>      <td>-118.179574</td>    </tr>    <tr>      <th>23</th>      <td>Los Angeles</td>      <td>2445</td>      <td>1198</td>      <td>0.489980</td>      <td>0.012679</td>      <td>0.354839</td>      <td>0.392229</td>      <td>0.520334</td>      <td>0.481800</td>      <td>0.499151</td>      <td>0.085072</td>      <td>0.384615</td>      <td>0.025767</td>      <td>0.317460</td>      <td>0.001227</td>      <td>NaN</td>      <td>34.038276</td>      <td>-118.315333</td>    </tr>    <tr>      <th>24</th>      <td>Louisville</td>      <td>624</td>      <td>282</td>      <td>0.451923</td>      <td>0.006410</td>      <td>0.250000</td>      <td>0.663462</td>      <td>0.516908</td>      <td>0.032051</td>      <td>0.650000</td>      <td>0.288462</td>      <td>0.294444</td>      <td>0.004808</td>      <td>0.333333</td>      <td>0.000000</td>      <td>NaN</td>      <td>38.219418</td>      <td>-85.763375</td>    </tr>    <tr>      <th>25</th>      <td>Memphis</td>      <td>1640</td>      <td>524</td>      <td>0.319512</td>      <td>0.003659</td>      <td>0.333333</td>      <td>0.849390</td>      <td>0.313711</td>      <td>0.051829</td>      <td>0.435294</td>      <td>0.089024</td>      <td>0.308219</td>      <td>0.003049</td>      <td>0.600000</td>      <td>0.001829</td>      <td>NaN</td>      <td>35.113437</td>      <td>-89.973968</td>    </tr>    <tr>      <th>26</th>      <td>Miami</td>      <td>806</td>      <td>489</td>      <td>0.606700</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.408189</td>      <td>0.693009</td>      <td>0.043424</td>      <td>0.685714</td>      <td>0.179901</td>      <td>0.565517</td>      <td>0.001241</td>      <td>1.000000</td>      <td>0.364764</td>      <td>0.523810</td>      <td>25.805727</td>      <td>-80.213680</td>    </tr>    <tr>      <th>27</th>      <td>Milwaukee</td>      <td>1207</td>      <td>436</td>      <td>0.361226</td>      <td>0.009114</td>      <td>NaN</td>      <td>0.794532</td>      <td>0.383733</td>      <td>0.092792</td>      <td>0.285714</td>      <td>0.096935</td>      <td>0.290598</td>      <td>0.004971</td>      <td>0.333333</td>      <td>0.000000</td>      <td>NaN</td>      <td>43.070828</td>      <td>-87.952668</td>    </tr>    <tr>      <th>28</th>      <td>Minneapolis</td>      <td>396</td>      <td>202</td>      <td>0.510101</td>      <td>0.007576</td>      <td>0.666667</td>      <td>0.676768</td>      <td>0.529851</td>      <td>0.022727</td>      <td>0.555556</td>      <td>0.138889</td>      <td>0.400000</td>      <td>0.146465</td>      <td>0.517241</td>      <td>0.002525</td>      <td>1.000000</td>      <td>44.984597</td>      <td>-93.278858</td>    </tr>    <tr>      <th>29</th>      <td>Nashville</td>      <td>830</td>      <td>301</td>      <td>0.362651</td>      <td>0.016867</td>      <td>0.214286</td>      <td>0.636145</td>      <td>0.375000</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.336145</td>      <td>0.347670</td>      <td>0.008434</td>      <td>0.285714</td>      <td>0.001205</td>      <td>1.000000</td>      <td>36.159370</td>      <td>-86.755750</td>    </tr>    <tr>      <th>30</th>      <td>New Orleans</td>      <td>1553</td>      <td>1007</td>      <td>0.648422</td>      <td>0.005151</td>      <td>0.375000</td>      <td>0.882164</td>      <td>0.658394</td>      <td>0.031552</td>      <td>0.571429</td>      <td>0.061172</td>      <td>0.526316</td>      <td>0.001932</td>      <td>1.000000</td>      <td>0.016742</td>      <td>0.807692</td>      <td>29.976271</td>      <td>-90.048220</td>    </tr>    <tr>      <th>31</th>      <td>New York</td>      <td>679</td>      <td>264</td>      <td>0.388807</td>      <td>0.048601</td>      <td>0.303030</td>      <td>0.559647</td>      <td>0.452632</td>      <td>0.288660</td>      <td>0.326531</td>      <td>0.097202</td>      <td>0.242424</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.004418</td>      <td>0.666667</td>      <td>40.730916</td>      <td>-73.919099</td>    </tr>    <tr>      <th>32</th>      <td>Oakland</td>      <td>1025</td>      <td>550</td>      <td>0.536585</td>      <td>0.017561</td>      <td>0.277778</td>      <td>0.725854</td>      <td>0.587366</td>      <td>0.155122</td>      <td>0.509434</td>      <td>0.055610</td>      <td>0.192982</td>      <td>0.044878</td>      <td>0.347826</td>      <td>0.000000</td>      <td>NaN</td>      <td>37.780218</td>      <td>-122.216082</td>    </tr>    <tr>      <th>33</th>      <td>Oklahoma City</td>      <td>728</td>      <td>351</td>      <td>0.482143</td>      <td>0.006868</td>      <td>0.600000</td>      <td>0.457418</td>      <td>0.492492</td>      <td>0.013736</td>      <td>0.100000</td>      <td>0.317308</td>      <td>0.419913</td>      <td>0.192308</td>      <td>0.592857</td>      <td>0.006868</td>      <td>0.600000</td>      <td>35.478868</td>      <td>-97.533250</td>    </tr>    <tr>      <th>34</th>      <td>Omaha</td>      <td>443</td>      <td>182</td>      <td>0.410835</td>      <td>0.004515</td>      <td>0.500000</td>      <td>0.604966</td>      <td>0.582090</td>      <td>0.081264</td>      <td>0.194444</td>      <td>0.284424</td>      <td>0.134921</td>      <td>0.013544</td>      <td>NaN</td>      <td>0.004515</td>      <td>0.500000</td>      <td>41.274535</td>      <td>-95.979098</td>    </tr>    <tr>      <th>35</th>      <td>Philadelphia</td>      <td>3290</td>      <td>1474</td>      <td>0.448024</td>      <td>0.015805</td>      <td>0.326923</td>      <td>0.776596</td>      <td>0.459883</td>      <td>0.122796</td>      <td>0.470297</td>      <td>0.084195</td>      <td>0.328520</td>      <td>0.000304</td>      <td>1.000000</td>      <td>0.000000</td>      <td>NaN</td>      <td>39.989399</td>      <td>-75.161434</td>    </tr>    <tr>      <th>36</th>      <td>Phoenix</td>      <td>990</td>      <td>546</td>      <td>0.551515</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.000000</td>      <td>NaN</td>      <td>1.000000</td>      <td>0.551515</td>      <td>33.499770</td>      <td>-112.106574</td>    </tr>    <tr>      <th>37</th>      <td>Pittsburgh</td>      <td>683</td>      <td>365</td>      <td>0.534407</td>      <td>0.004392</td>      <td>0.333333</td>      <td>0.865300</td>      <td>0.576988</td>      <td>0.004392</td>      <td>NaN</td>      <td>0.121523</td>      <td>0.253012</td>      <td>0.002928</td>      <td>1.000000</td>      <td>0.000000</td>      <td>NaN</td>      <td>40.450203</td>      <td>-79.965397</td>    </tr>    <tr>      <th>38</th>      <td>Richmond</td>      <td>464</td>      <td>122</td>      <td>0.262931</td>      <td>0.008621</td>      <td>0.250000</td>      <td>0.877155</td>      <td>0.257985</td>      <td>0.032328</td>      <td>0.600000</td>      <td>0.073276</td>      <td>0.147059</td>      <td>0.004310</td>      <td>1.000000</td>      <td>0.002155</td>      <td>NaN</td>      <td>37.529349</td>      <td>-77.446554</td>    </tr>    <tr>      <th>39</th>      <td>San Antonio</td>      <td>902</td>      <td>388</td>      <td>0.430155</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.218404</td>      <td>0.426396</td>      <td>0.505543</td>      <td>0.442982</td>      <td>0.152993</td>      <td>0.376812</td>      <td>0.118625</td>      <td>0.457944</td>      <td>0.003326</td>      <td>0.333333</td>      <td>29.445377</td>      <td>-98.506836</td>    </tr>    <tr>      <th>40</th>      <td>Sacramento</td>      <td>407</td>      <td>151</td>      <td>0.371007</td>      <td>0.127764</td>      <td>0.461538</td>      <td>0.420147</td>      <td>0.403509</td>      <td>0.216216</td>      <td>0.306818</td>      <td>0.206388</td>      <td>0.309524</td>      <td>0.024570</td>      <td>0.500000</td>      <td>0.000000</td>      <td>NaN</td>      <td>38.562487</td>      <td>-121.467124</td>    </tr>    <tr>      <th>41</th>      <td>Savannah</td>      <td>266</td>      <td>124</td>      <td>0.466165</td>      <td>0.000000</td>      <td>NaN</td>      <td>0.763158</td>      <td>0.502463</td>      <td>0.018797</td>      <td>0.200000</td>      <td>0.172932</td>      <td>0.369565</td>      <td>0.003759</td>      <td>NaN</td>      <td>0.033835</td>      <td>0.444444</td>      <td>32.040989</td>      <td>-81.105508</td>    </tr>    <tr>      <th>42</th>      <td>San Bernardino</td>      <td>297</td>      <td>183</td>      <td>0.616162</td>      <td>0.020202</td>      <td>0.666667</td>      <td>0.441077</td>      <td>0.641221</td>      <td>0.387205</td>      <td>0.608696</td>      <td>0.111111</td>      <td>0.545455</td>      <td>0.033670</td>      <td>0.700000</td>      <td>0.000000</td>      <td>NaN</td>      <td>34.123034</td>      <td>-117.291759</td>    </tr>    <tr>      <th>43</th>      <td>San Diego</td>      <td>499</td>      <td>190</td>      <td>0.380762</td>      <td>0.084168</td>      <td>0.452381</td>      <td>0.320641</td>      <td>0.431250</td>      <td>0.300601</td>      <td>0.413333</td>      <td>0.268537</td>      <td>0.261194</td>      <td>0.022044</td>      <td>0.454545</td>      <td>0.000000</td>      <td>NaN</td>      <td>32.739495</td>      <td>-117.115455</td>    </tr>    <tr>      <th>44</th>      <td>San Francisco</td>      <td>718</td>      <td>364</td>      <td>0.506964</td>      <td>0.054318</td>      <td>0.333333</td>     